.divider {
    border-top: 1px solid #545454;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.song-divider {
    opacity: 0.5;
    margin: 0px 0;

}
.divider .divider-title {
    background: #232323;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.btn-sidebar {
    color: #d9c7c7;
}

.btn-sidebar:hover {
    color: white;
}

.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: .2s ease-in-out;
}

.sidebar-scroll:hover {
    scrollbar-width: thin;
    scrollbar-color: #474747 transparent;
}

.sidebar-scroll::-webkit-scrollbar{
    width: 7px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.text-link {
    padding-left: .5rem;
    color: #a3b1c2;
    font-size: 1rem;
    transition: color .15s ease-in-out;
}

.text-link:hover {
    color: white;
    text-decoration: none;
}

.text-playlist {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: .3s;
    color: white;
}

.text-playlist:hover {
    color: white;
    text-decoration-color: white;
}

.text-header {
    color: #a3b1c2;
    cursor: pointer;
    transition: .2s;
}

.text-header:hover {
    color: white;
}

input[type=range] {
    background:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background-color: transparent;
    border-color: transparent;
    transition: .2s;
}

.player:hover input[type="range"]::-moz-range-thumb {
    background: lightgray;
    border: 1px solid gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

input[type=range]::-moz-range-progress {
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 10px;
}

.player:hover input[type=range]::-moz-range-progress {
    background-color: #3d8af7;
    
}

input[type=range]::-moz-range-track {
    background-color:#575757;
    border-radius: 10px;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    border-color: transparent;
    transition: .2s;
}

.player:hover input[type="range"]::-webkit-slider-thumb {
    background: lightgray;
    border: 1px solid gray;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 10px;
}

.player:hover input[type=range]::-webkit-slider-runnable-track {
    background-color: #3d8af7;
    
}
/*
input[type=range]::-moz-range-track {
    background-color:#575757;
    border-radius: 10px;
    height: 10px;
}

*/

.removesong {
  display: none; /* Hide button */
  line-height: 1;
 
}
.qsong {
    display: none;
  }
.playsong {
    display: none;
  }

.songrow:hover .removesong{
   display: block; /* On :hover of div show button */

}
.songrow:hover .playsong{
    display: block; /* On :hover of div show button */
 
 }

.songrow:hover .qsong {
    display: block; /* On :hover of div show button */
 }
 
 .songrow:hover{
     background-color: #282828;
 }

 .addsong {
    display: none; /* Hide button */
    line-height: 1;
   
  }
  .quesong {
      display: none;
    }
  

 .albumrow:hover{
    background-color: #282828;
 }
   
.albumrow:hover .addsong{
    display: block; /* On :hover of div show button */
 
 }
 
 .albumrow:hover .quesong {
     display: block; /* On :hover of div show button */
  }
  

 