.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.song-divider {
    opacity: 0.5;
}
.divider .divider-title {
    background: #232323;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.text-link {
    padding-left: .5rem;
    color: #a3b1c2;
    font-size: 1rem;
    
}

.text-link:hover {
    color: white;
    text-decoration: none;
}